################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineGroceryManagement/FileContentIndex/16764ea1-43cb-49ff-b251-a65f52b0a17e.vsidx
